@font-face {
  font-family: fuente_Roboto;
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}
body {
  width: 100%;
  margin: 0 auto;
  font-family: fuente_Roboto;
  background-color: rgba(0, 0, 0, 0.6);
}
.fotoencabezado1 {
  border: 1px, solid, black;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.encabezado {
  border-radius: 0.5rem;
}
header {
  color: black;
  background-color: rgba(255, 68, 0, 0.75);
  font-family: fuente_Roboto;
  font-size: 2rem;
  text-align: center;
  align-items: center;
  border: 0.25rem, solid, black;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.fotoencabezado2 {
  border: 1px, solid, black;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
nav ul {
  color: black;
  list-style-type: none;
  background-color: rgba(255, 68, 0, 0.75);
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  font-size: 20px;
  justify-self: center;
  border: 0.25rem, solid, black;
  border-radius: 0.5rem;
}
nav ul li:hover {
  background-color: grey;
  border: 0.25rem, solid, black;
  border-radius: 0.5rem;
  padding: 1rem;
}
nav ul li {
  padding: 20px;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.stick {
  position: sticky;
  top: 0;
  background-color: rgba(255, 68, 0, 0.75);
  border: 0.25rem, solid, black;
  border-radius: 1rem;
  color: black;
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
}
table {
  width: 80%;
  margin: 1rem auto;
  border-collapse: collapse;
}

th,
td {
  border: 0.25rem solid black;
  padding: 1rem;
  text-align: left;
}

th {
  background-color: rgba(255, 68, 0, 0.75);
  font-weight: bold;
}

.section-title {
  background-color: rgba(255, 68, 0, 0.75);
  font-weight: bold;
}
.motos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.motos iframe {
  border: 0.25rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
}
.version-title {
  font-weight: bold;
}
footer {
  border: 0.25rem, solid, black;
  border-radius: 1rem;
  font-family: fuente_Roboto;
  background-color: rgba(255, 68, 0, 0.75);
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: stretch;
}
footer img {
  width: 30%;
}
.logos {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
footer a img {
  width: 3rem;
  height: 3rem;
}
.logos p {
  margin-left: 0.5rem;
}
.logos a {
  margin: 0.5rem;
  padding: 0.25rem;
  border: 0.25rem, solid, black;
  border-radius: 0.5rem;
}
.logos a:hover {
  background-color: grey;
}
.logostexto {
  display: flex;
  justify-content: space-around;
}
.direccion {
  margin: 0.5rem;
  display: flex;
  align-items: center;
}
.direccionescrita {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
.direccion iframe {
  border-radius: 0.5rem;
  border: 1px solid black;
  padding: 1rem;
}
.direccion p {
  display: initial;
}
.copy {
  margin: 1rem;
  font-style: italic;
}

/* Media Queries */
@media (max-width: 575.98px) {
  header {
    flex-direction: column;
    font-size: 1.5rem;
  }

  .fotoencabezado1,
  .fotoencabezado2 {
    width: 50%;
    border-radius: 0.5rem;
  }

  nav ul {
    flex-direction: column;
    padding: 0;
  }

  nav ul li {
    padding: 10px;
    text-align: center;
  }

  nav ul li:hover {
    padding: 10px;
  }
  table {
    width: 100%;
  }
  .motos iframe {
    width: 90%;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  .logos {
    margin: 1rem;
  }

  .direccion {
    flex-direction: column;
  }

  .direccionescrita {
    margin: 1rem 0;
  }

  .copy {
    text-align: center;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  nav ul {
    font-size: 18px;
  }
  table {
    width: 95%;
  }
  .motos iframe {
    width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  table {
    width: 90%;
  }
  .motos iframe {
    width: 85%;
  }
}
